{
  "presets": [
    ["es2015", { "modules": false }]    
  ],
  "plugins": [
    "transform-vue-jsx",
    ["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }]
    ]
    ]
}