 
*{
     margin: 0px;
     padding: 0px;
 }

 body{
     background-color: white;
 }

.el-menu{
    background-color: #267cb7;
    top:-2px;
}
/*.upload-demo{
    max-height: 200px;
    overflow-y: auto;
}*/
.el-submenu .el-menu-item,.el-menu-item, .el-submenu__title{
    height: 40px;
    line-height: 40px;
}
 /*layout.vue布局相关begin*/
.el-col-4 {
        width: 13.3%;
    }

.el-col-20 {
	width: 86.7%;
}

.area{
 border-right:1px solid #eee;
 line-height: 40px;
 color:#686f7f;
}

.hand{
    cursor: pointer;
}

.lineleft{
     border-left:1px solid #eee;
}

.topbg{
    height: 42px;
    background-color: #fafafa;
    border-bottom:1px solid #eee;
    line-height: 42px;
    text-align: right;
    padding-right: 10px;
    color:#686f7f;
}

.layout.menu{
    min-height: 570px;
    background-color: #267cb7;
    margin-top: -2px;
}
/*展开和收缩菜单按钮图标*/
.layout.el-icon-menu{   
    display: block;
    width: 40px;   
    text-align: center; 
    cursor: pointer;   
}
.el-menu-item-group__title{
    padding-top: 0px;
}

.router-link-exact-active li,li.el-menu-item.is-active {
    background-color: #20a0ff;
}
a{
 text-decoration: none;
}
.el-dropdown-menu a{
    color: #20a0ff;   
}

 /*layout.vue布局相关end*/

 /*列表页面开始*/

 .arttmpl{
   margin:10px 10px 0 10px;
 }

 .arttmpl .operation{
     padding: 5px;
     border-bottom: 1px solid #eee;
     margin-top: 2px;
     margin-bottom: 5px;
     line-height: 40px;
 }

.bt-line{
    border-bottom:solid 1px #eee;

}

.el-button.artlist.el-button--primary{
    color:fff;
}

.operation .el-col.el-col-20 button{
    vertical-align: middle;
}

.page{
    margin-top: 10px;
}
 /*列表页面结束*/
 /*登录页面*/
 .accounttmpl .el-form-item__label{
     color:#ffffff;
 }

/*滚动条*/
.easy-scrollbar{
    width: 400px;
}
.el-upload-list.el-upload-list--picture{
    margin-right: 10px;
}
